## [ Visual Studio ]
# Arquivos de build e pastas de saída
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Log]s/
[Tt]est[Rr]esults/

# Arquivos de solução e cache do VS
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

## [ .NET Core ]
# Arquivos de configuração de ambiente (Contém suas strings de conexão com o banco)
appsettings.Development.json
appsettings.Local.json

# Segredos do usuário (User Secrets)
secrets.json

## [ Entity Framework ]
# Logs e arquivos temporários de migração se houver
*.db
*.db-shm
*.db-wal

## [ VS Code ]
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## [ SO / Diversos ]
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivo CSV de dados (Como você está usando para seed, 
# se ele for muito grande, é bom ignorar)
../ArcadeFlow/games.csv 

## [ Packages ]
*.nupkg
# NuGet packages directory
packages/